<div class="container align-items-center pt-5" style="color: #fff;">
    <div class="row">
        <div class="col-auto">
            <img [src]="movie?.image?.medium" alt="">
        </div>
        <div class="col">
            <div class="title" *ngIf="movie?.name">
                {{movie?.name}}
            </div>
            <div class="py-3" *ngIf="movie?.runtime">
                {{movie?.runtime}} minutes
            </div>
            <div *ngIf="movie?.summary">
                {{movie?.summary}}
            </div>
            <div class="pt-2 pb-3" *ngIf="movie?.officialSite">
                <a>
                    {{movie?.officialSite}}
                </a>
            </div>
            <div class="pt-2 pb-3" *ngIf="user">
                <button class="goust-button py-1 px-3" (click)="addInFavorites(movie.id)">
                    Add In Favorites
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="title pt-5">
                Your Review
            </div>
            <div class="py-4">
                Rating
            </div>
            <textarea #comment class="textarea w-100" placeholder="Your private notes and comments about the movie...">
        
            </textarea>
            <div class="d-flex justify-content-end pt-3">
                <button class="goust-button" (click)="sendComment(comment.value)">
                    Submit
                </button>
            </div>

            <ng-container *ngFor="let comment of movie.comments">
                <div class="pl-3" style="background-color: #1a1a1a; border-radius: 10px;">
                    <div *ngIf="comment.username" class="mt-5" style="font-size: 20px;">
                        User: {{comment.username}}
                    </div>
                    <div *ngIf="comment.comments" class="pt-2">
                        Comment:
                    </div>
                    <div  *ngIf="comment.comments" class="pt-3">
                        {{comment.comments}}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

</div>