.background-color {
    background-color: #393a3c;
}

.background-img {
    background-image: url("../../../img/BG-en-20210817-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    background-color: #cccccc;
    height: 400px;
}


.your-favorites-container{
    width: 98vw;
    height: 400px;
    height: auto;
    background-color: #393a3c;
}

.your-facorite-title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}