<div class="row p-2 h-100 header-style align-items-center h-100" style="width: 100vw;">
    
    <a class="col-auto logo-text-style" href="main">
        MK IT
        <span class="logo-dot px-2"></span>
    </a>
    
    <div class="col logo-text-style" style="color: #e50914">
        And Chill
    </div>
    
    <div class="col-auto">
        <input #searchString class="input-style py-2 px-3" placeholder="Search by movie title..." (keyup.enter)="search(searchString.value)"/>
    </div>
    
    <div class="col-auto">
        <button class="goust-button py-2 px-3" (click)="search(searchString.value)">
            Search
        </button>
    </div>

    <div class="col-auto">
        <button class="login-button" style="background-color: red;" (click)="openLoginModal()">
            {{user ? 'Logout' : 'Login'}}
        </button>
    </div>

</div>

