<div class="row p-2 h-100 header-style justyfy-content-start align-items-center h-100">
    <div class="col-auto logo-text-style">
        MK IT
        <span class="logo-dot px-2"></span>
    </div>
    <div class="col logo-text-style">
        Movie Collection
        <div class="row">
            <!-- <div class="col-auto">
            </div>
            <div class="col-auto">
            </div> -->
        </div>
    </div>
    <div class="col-auto">
        <!-- <TextField class="input-style" id="outlined-basic" label="Outlined" variant="outlined" /> */} -->
        <input class="input-style py-2 px-3" placeholder="Search by movie title..."/>
    </div>
    <div class="col-auto">
        <button class="search-button py-2 px-3">
            Search
        </button>
    </div>
</div>