<!-- <div style="color: #fff;">
    <div class="row h-100 align-items-center" 
    style="min-height: 100vh;">
        <div class="col-7">

        </div>
        <div class="col-5">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    Signin
                </div>
                <div class="col d-flex justify-content-center">
                    Signup
                </div>
            </div>
            <div class="login-container" style="height: 350px;">
                <div>
                    Username
                </div>
                <input class="input-style">
                <div>
                    Password
                </div>
                <input class="input-style">
            </div>
        </div>
    </div>
</div> -->